.index-body {
    background-color: var(--index-bg-color);
}

.index-nav-heading-highlight {
    font-weight: var(--font-highlight-weight);
    color: var(--index-font-highlight);
}

/* News & special events */

.top-background {
    display: flex;
    justify-content: center;
    background-image: url("../images/index-top.jpg");
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.news {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 780px;
    max-height: 350px;
    border: 10px solid black;
    background-color: var(--index-bg-color);
    justify-content: space-between;
    margin: 50px 10px 0 10px;
}

.news h2 {
    width: 100%;
}

.news .h-highlight {
    color: var(--index-font-highlight);
}

.news-container {
    display: flex;
    flex-wrap: nowrap;
}

.news-left,
.news-right {
    width: 50%;
    padding: 0 20px;
}

.admission-box {
    display: flex;
    flex-direction: row;
}

.admission-box li {
    list-style-type: none;
    text-align: left;
}



/* Explore the museum */

.index-explore-museum {
    max-width: 1300px;
    margin: 40px auto 0 auto;
}

.index-explore-museum h2 {
    margin-left: 10px;
}

.index-explore-museum .h-highlight {
    color: var(--index-font-highlight);
}

/* Explore our exhibitions */

.index-exhibitions .h-highlight {
    color: var(--exhibitions-font-highlight);
}

.index-exhibitions {
    background-color: var(--exhibitions-bg-color);
    margin-top: 40px;
}

.index-exhibitions-container {
    max-width: 1300px;
    margin: 0 auto;
}

.index-exhibitions h2 {
    margin-left: 10px;
    padding-top: 20px;
}

.index-exhibitions-boxes {
    max-width: 1300px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
}

.index-exhibitions-box {
    max-width: 433px;
    text-align: center;
    margin: 0 auto;
    flex: 1;
}

.index-exhibitions-box p {
 padding: 5px;
}

.index-exhibitions-box-img {
    max-width: 433px;
}

.index-exhibitions-box-img img {
    max-width: 100%;
}

/* Explore your curiosity */

.index-kids {
    background-color: var(--kids-bg-color);
}

.index-kids .h-highlight {
    color: var(--kids-font-highlight);
}


/* Explore the possibilites */

.index-support {
    background-color: var(--support-bg-color);
}

.index-support .h-highlight {
    color: var(--support-font-highlight);
}