.index-body {
    background-color: var(--index-bg-color);
}

.index-nav-heading-highlight {
    font-weight: var(--font-highlight-weight);
    color: var(--index-font-highlight);
}

/* News & special events */

.top-background {
    display: flex;
    justify-content: center;
    background-image: url("../images/index-top.jpg");
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

.news {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 780px;
    max-height: 350px;
    border: 10px solid black;
    background-color: var(--index-bg-color);
    justify-content: space-between;
    margin: 50px 10px 0 10px;
}

.news h2 {
    width: 100%;
}

.news-container {
    display: flex;
    flex-wrap: nowrap;
}

.news-left,
.news-right {
    width: 50%;
    padding: 0 20px;
}

.admission-box {
    display: flex;
    flex-direction: row;
}

.admission-box li {
    list-style-type: none;
    text-align: left;
}



/* Explore the museum */

.index-explore-museum {
    max-width: 1300px;
    margin: 60px auto 0 auto;
}

.index-explore-museum h2 {
    margin-left: 10px;
}

.index-explore-museum-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;; 
}

.index-explore-museum-copy {
    max-width: 500px;
    min-width: 300px;
    margin-left: 40px;
}

.index-explore-museum-copy p {
    max-width: 100%;
}

.index-explore-museum-img {
    max-width: 500px;
    min-width: 300px;
}

.index-explore-museum-img img {
    max-width: 100%;
}