@import "index.css";
@import "kids.css";
@import "support.css";
@import "visit.css";
@import "contact.css";
@import "variables.css";
@import "exhibitions.css";

html {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

/* Navigation bar */

nav {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 0 20px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
   }

.nav-heading {
    font-size: var(--heading-size-desktop);
    align-items: center;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admission {
    display: flex;
    flex-direction: row;
}

.opening-hours li {
    line-height: 1.6rem;
    font-size: 0.9rem;
}

.free-highlight {
    font-weight: var(--font-highlight-weight);
}

.opening-hours-times {
    text-align: right;
}

.nav-divider {
    width: 12px;
    height: 235px;
    background-color: black;
    margin: 15px 25px 0 25px;
}

.nav-menu ul {
    padding-left: 0;
}

.nav-menu li {
    line-height: 2em;
    font-size: 1.2rem;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu a:active {
    text-decoration: underline;
}

.nav-menu a:visited {
    text-decoration: none;
}

nav .current {
    text-decoration: underline;
}

/* Footer */

.footer-opening-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-opening-hours-times {
    text-align: right;
    
}

.footer-admission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

footer ul {
    list-style-type: none;
}

footer li {
    font-size: 0.8rem;
}

footer {
    background-color: var(--index-bg-color);
    margin-top: 40px;
}

.footer-adress ul {
    padding: 0;
    margin-left: 20px;
}

footer .copyright {
    font-size: 0.6rem;
    text-align: center;
}

/* Miscellanous global styles */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 600;
}

.page-link {
    font-size: 1.2rem;
    color: black;
    font-weight: var(--font-link-weight);
}

.h-highlight {
    font-weight: var(--font-highlight-weight);
}

/* Global text */

.line-break {
    display: block;
}

.no-highlight {
    color: var(--global-font-color);
    font-weight: 400;
}

/* narrow images covering page */

.narrow-image {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.narrow-image-container {
    margin: 0 auto;
    text-align: center;
}

.narrow-image h2 {
    padding-left: 10px;
    text-align: left;
}

.narrow-image-copy p {
    padding: 10px;
    max-width: 1300px;
}

.narrow-image-img {
    max-width: 1300px;
}

.narrow-image-img img {
    width: 98%;
}

/* Image and text sharing width */

.image-and-text-share {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
}

.image-and-text-share-copy {
    max-width: 500px;
    padding-left: 20px;
    text-align: left;
}

.image-and-text-share p {
    max-width: 100%;
}

.image-and-text-share-img {
    max-width: 500px;
}

.image-and-text-share-img img {
    max-width: 100%;
}

/* 1576px height and below */

@media only screen and (max-height: 1080px) {
.news-left,
.news-right {
    font-size: 0.9rem;
}

}
/* 800px height and below */

@media only screen and (max-height: 810px) {
    .news-left,
    .news-right,
    .news h2,
    .news h3,
    .news a {
        font-size: 0.9rem;
    }
}

/* 375px height and below */

@media only screen and (max-height: 428px) {
    .news,
    .top-background {
        display: none;
    }
}

/* 857px and below */

@media only screen and (max-width: 857px) {
    .nav-heading {
        font-size: var(--heading-size-tablet);
    }

    .opening-hours li {
        line-height: 1.1rem;
        font-size: 0.7rem;
    }

    .nav-divider {
        width: 8px;
        height: 160px;
    }

    .nav-menu li {
        line-height: 2.1em;
        font-size: 0.8rem;
    }

    .admission-container {
        flex-direction: column;
    }
}

/* 750px and below */

@media only screen and (max-width: 750px) {
    .news p, .news a {
        font-size: 0.8rem;
        margin-top: 0;
    }

    .image-and-text-share {
        flex-wrap: wrap-reverse;
    }

    .image-and-text-share-copy {
        margin: 0 20px;
    }

}

/* 593px and above */
@media only screen and (min-width: 593px) {
    .admission-box {
        display: none;
    }

    .news-mobile {
        display: none;
    }
}

/* 592px and below */

@media only screen and (max-width: 592px) {
    .nav-heading {
        font-size: var(--heading-size-mobile);
      }

    .opening-hours {
        display: none;
    }

    .nav-divider {
        width: 5px;
        height: 160px;
    }

    .nav-menu li {
        font-size: 0.8rem;
    }

    .page-link {
        font-size: 0.9rem;
    }

    /* Home */

    .top-background {
        height: 60vh;
    }

    .admission-box ul {
        padding: 0;
    }

    .opening-hours-times-box li {
        text-align: right;
    }

    .news-container-mobile {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .news-mobile h2 {
        margin: 40px 0 0 10px;
    }

    .news-mobile .h-highlight {
        color: var(--index-font-highlight);
    }

    .news-mobile h3 {
        margin-left: 10px;
        margin-top: 30px;
    }

    .news-mobile p,
    .news-mobile a {
        padding: 0 40px;
    }

    .news {
        max-width: 780px;
        max-height: 220px;
        align-self: center;
    }

    .news h2, 
    .news-container {
        display: none;
    }

    .news-left-mobile h3,
    .news-right-mobile h3 {
        padding-left: 30px;
    }

    .index-exhibitions-boxes {
        flex-direction: column;
    }

    /* Kid's club */

    .kids-club h1 {
        font-size: 2rem;
    }

    /* Plan your visit */

     .admission-price p{
        padding-left: 10px;
    }

    /* Get involved */

    .support-cards-container {
        flex-direction: column;
    }

    /* footer */

    footer li {
        font-size: 0.6rem;
    }
    
    footer .copyright {
        font-size: 0.6rem;
    }


}