@import "index.css";
@import "kids.css";
@import "support.css";
@import "visit.css";
@import "contact.css";
@import "variables.css";
@import "exhibitions.css";

html {
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  }

/* Navigation bar */

nav {
    max-width: 1300px;
    margin: 10px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
   }

.nav-heading {
 font-size: var(--heading-size-desktop);
 align-items: center;
 margin-left: 10px;
}

.opening-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admission {
    display: flex;
    flex-direction: row;
}

.opening-hours li {
    line-height: 1.6rem;
    font-size: 0.9rem;
}

.free-highlight {
    font-weight: var(--font-highlight-weight);
}

.opening-hours-times {
    text-align: right;
}

.nav-divider {
    width: 12px;
    height: 235px;
    background-color: black;
    margin: 15px 25px 0 25px;
}

.nav-menu {
    margin-right: 10px;
}

.nav-menu ul {
    padding-left: 0;
}

.nav-menu li {
    line-height: 2em;
    font-size: 1.2rem;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-menu a:active {
    text-decoration: underline;
}

.nav-menu a:visited {
    text-decoration: none;
}

nav .current {
    text-decoration: underline;
}

/* Footer */

.footer-opening-hours {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-admission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

footer ul {
    list-style-type: none;
}

footer li {
    font-size: 0.8rem;
}

footer {
    background-color: var(--index-bg-color);
}

.footer-adress ul {
    padding: 0;
    margin-left: 20px;
}

footer .copyright {
    font-size: 0.6rem;
    text-align: center;
}

/* Miscellanous global styles */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.page-link {
    font-size: 1.2rem;
    color: black;
    font-weight: var(--font-link-weight);
}

.h-highlight {
    font-weight: var(--font-highlight-weight);
    color: var(--index-font-highlight)
}

/* 857px and below */

@media only screen and (max-width: 857px) {
    .nav-heading {
        font-size: var(--heading-size-tablet);
    }

    .opening-hours li {
        line-height: 1.1rem;
        font-size: 0.7rem;
    }

    .nav-divider {
        width: 8px;
        height: 160px;
    }

    .nav-menu li {
        line-height: 2.1em;
        font-size: 0.8rem;
    }
}

/* 750px and below */

@media only screen and (max-width: 750px) {
    .news p, .news a {
        font-size: 0.8rem;
        margin-top: 0;
    }

    .index-explore-museum-container {
        flex-wrap: wrap-reverse;
    }

    .index-explore-museum-copy {
        margin: 0 40px;
    }

}

/* 593px and above */
@media only screen and (min-width: 593px) {
    .admission-box {
        display: none;
    }

    .news-mobile {
        display: none;
    }
}

/* 592px and below */

@media only screen and (max-width: 592px) {
    .nav-heading {
        font-size: var(--heading-size-mobile);
      }

    .opening-hours {
        display: none;
    }

    .top-background {
        height: 50vh;
    }

    .admission-box ul {
        padding: 0;
    }

    .opening-hours-times-box li {
        text-align: right;
    }

    .news-container-mobile {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }

    .news-mobile h2 {
        margin: 60px 0 0 10px;
    }

    .news-mobile h3 {
        margin-left: 10px;
        margin-top: 30px;
    }

    .news-mobile p,
    .news-mobile a {
        margin-left: 40px;
    }

    .news {
        max-width: 780px;
        max-height: 220px;
        align-self: center;
    }

    .nav-divider {
        width: 5px;
        height: 160px;
    }

    .nav-menu li {
        font-size: 0.8rem;
    }

    .news h2, 
    .news-container {
        display: none;
    }

    footer li {
        font-size: 0.6rem;;
    }
    
    footer .copyright {
        font-size: 0.6rem;
    }
}